.custom-animation{
  transform: translateY(0px);
  animation: float 7s ease-in-out 0s infinite ;
}

.form-animation{
  transform: translateY(0px);
  animation: form_float 5s ease-in-out 0s infinite ;
}

@keyframes float {
  0%{
      transform: translateY(0px);
  }
  50%{
      transform: translateY(120px);
  }
  100%{
      transform: translateY(0px);
  }
}

@keyframes form_float {
  0%{
      transform: translateY(-20px);
  }
  50%{
      transform: translateY(50px);
  }
  100%{
      transform: translateY(-20px);
  }
}